#root {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

#root > table {
  width: 100%;
  border-collapse: collapse;
}

.tableCell {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

body {
  position: relative;
}

.colors {
  width: 5%;
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
}

.colors > div {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color0 {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.color1 {
  background-color: #dc7e3e;
}
.color2 {
  background-color: #3a7a9b;
}
.color3 {
  background-color: #35133a;
}
.color4 {
  background-color: #f2eb91;
}
.color5 {
  background-color: #d33157;
}
.color6 {
  background-color: #0f0305;
}

.borderedCell {
  border-left: 2px solid #000;
}
.borderedRow {
  border-bottom: 2px solid #000;
}
